.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff20;
  font-size: 1rem;
  padding: 18px 15px;
  width: calc(100% - 30px);
}

.input.light-mode {
  color: #101010;
}

.input.dark-mode {
  color: #fff;
}

.input:focus {
  outline: none;
}