.btn {
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all .2s;
}

/* PRIMARY DARK */
.dark-mode .btn.primary {
  color: #fff;
  background-color: #52525c;
  border-top: 2px solid #73737b;
}

.dark-mode .btn.primary:hover {
  background-color: #4a4a52;
}

.dark-mode .btn.primary:focus {
  background-color: #4c4c55;
}

/* PRIMARY LIGHT */
.light-mode .btn.primary {
  color: #fff;
  background-color: #18171c;
}

.light-mode .btn.primary:hover {
  background-color: #26232b;
}

.light-mode .btn.primary:focus {
  background-color: #111013;
}

/* SECONDARY DARK */
.dark-mode .btn.secondary {
  color: #fff;
  border: 2px solid #3b3b3d;
  background-color: transparent;
}

.dark-mode .btn.secondary:hover {
  background-color: #1b1a1f;
}

.dark-mode .btn.secondary:focus {
  background-color: #18171b;
}

/* SECONDARY LIGHT */

.btn[disabled] {
  opacity: 0.5;
}