.container {
  display: flex;
  justify-content: center;
  width: calc(100% - var(--nav-wide-width));
  margin-left: auto;
  padding: 10px;
}

@media (max-width: 1870px) {
  .container {
    width: calc(100% - var(--nav-medium-width));
  }
}

@media (max-width: 1264px) {
  .container {
    width: calc(100% - var(--nav-narrow-width));
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}