.me-page {
  display: block;
  width: 100%;
  flex-grow: 1 !important;
  max-width: 750px;
}

/*POSTS*/

.post-header {
  margin: 10px 10px;
  border-radius: 6px;
  padding: 5px 0px;
}

.light-mode .post-header {
  background-color: #ffffff;
}

.dark-mode .post-header {
  background-color: #ffffff08;
}

.post-header>ul {
  display: flex;
  list-style: none;
}

.post-header-btn {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  color: inherit;
}

.post-header-btn.active {
  font-weight: 600;
}

.personal-posts {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}