.comment-editor {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.light-mode .comment-editor {
  border-top: 1px solid #00000020;
  border-bottom: 1px solid #00000020;
}

.dark-mode .comment-editor {
  border-top: 1px solid #ffffff20;
  border-bottom: 1px solid #ffffff20;
}

.comment-editor>input {
  width: 100%;
  padding: 14px 0px;
  padding-left: 10px;
  border: none;
  font-size: 1rem;
  flex-wrap: 1;
  color: inherit;
  border-radius: 8px 0px 0px 8px!important;
}

.comment-editor>input:focus {
  outline: none;
}

.light-mode .comment-editor>input,
.light-mode .comment-editor>button {
  background-color: #ffffff;
}

.dark-mode .comment-editor>input,
.dark-mode .comment-editor>button {
  background-color: #ffffff08;
}

.comment-editor>button {
  display: flex;
  align-items: center;
  flex-wrap: 1;
  border: none;
  cursor: pointer;
  color: #117be5;
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0px 6px 6px 0px;
}

.comment-editor>button>svg {
  display: none;
}

@media (max-width: 768px) {
  .comment-editor>button>span {
    display: none;
  }

  .comment-editor>button>svg {
    display: block;
  }

  .comment-editor>button {
    padding: 0px 10px;
  }
}

.disabled {
  cursor: pointer;
}