.post-small-view {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.light-mode .post-small-view {
  background-color: #ffffff;
}

.light-mode .post-small-view:hover {
  outline: 2px solid #00000007;
}

.dark-mode .post-small-view {
  background-color: #ffffff08;
}

.dark-mode .post-small-view:hover {
  outline: 2px solid #ffffff20;
}

.psv-cover {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  max-height: 150px;
}

.psv-cover img {
  width: 100%;
  object-fit: cover;
}

.psv-content {
  flex-basis: 1;
  flex-grow: 1;
  padding: 10px;
}

.psv-content h3 {
  margin-bottom: 10px;
}