.navbar-container {
  padding: 0px !important;
  position: fixed;
  width: var(--nav-wide-width);
  height: 100%;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-right: 1px solid #e2e2e2;
  padding: 10px;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-basis: 345px;
}

.navbar.dark-mode {
  border-right: 1px solid #262626;
}

.logo {
  color: #101010;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  margin: 40px 0px;
}

.logo span {
  color: #06c;
}

.dark-mode .logo {
  color: #fff;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  transition: all .1s;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.navbar-links a svg {
  transition: all .1s;
}

.navbar-links a:hover svg,
.navbar-links a:hover>div {
  transform: scale(1.1);
}

.navbar-links a:active svg,
.navbar-links a:active>div {
  transform: scale(0.9);
}

.navbar-links a.active {
  font-weight: 700;
}

.navbar.light-mode .navbar-links a {
  color: #101010;
}

.navbar.dark-mode .navbar-links a {
  color: #fff;
}

.navbar.light-mode .navbar-links a:hover {
  background-color: #10101010;
}

.navbar.dark-mode .navbar-links a:hover {
  background-color: #ffffff10;
}

.navbar-links a>div {
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 50%;
}

.light-mode .navbar-links a>div {
  border: 2px solid #101010;
}

.dark-mode .navbar-links a>div {
  border: 2px solid #ffffff;
}

.navbar-links a>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}