@media (max-width: 1870px) {
  .navbar-container {
    width: var(--nav-medium-width);
  }
}

@media (max-width: 1264px) {
  .navbar-container {
    width: var(--nav-narrow-width);
  }

  .navbar-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    aspect-ratio: 1/1;
  }

  .navbar-links a span {
    display: none;
  }

  .logo {
    display: none;
  }

  .navbar {
    align-items: center;
    justify-content: flex-start;
  }

  .logo-narrow {
    margin: 40px 0px;
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: 48px;
    bottom: 0px;
  }

  .navbar-container.light-mode {
    background-color: #fff;
  }

  .navbar-container.dark-mode {
    background-color: #101010;
  }

  .navbar-links {
    width: 100%;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .navbar-links a {
    padding: 0px !important;
  }

  .logo-narrow {
    display: none;
  }

  .navbar {
    flex-direction: row;
    border-right: none;
    border-top: 1px solid #e2e2e2;
  }

  .navbar.dark-mode {
    border-right: none !important;
    border-top: 1px solid #262626;
  }

  .navbar.light-mode .navbar-links a:hover {
    background-color: transparent;
  }

  .navbar.dark-mode .navbar-links a:hover {
    background-color: transparent;
  }
}