@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-c-pri: #fff;
  --light-c-sec: #101010;

  --light-c-bg: #f4f4f4;
  --dark-c-bg: #15151b;

  /* Navbar Width Sizes */
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;
  --nav-wide-width: 335px;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*:not(ol):not(ul) {
  padding: 0;
}

.custom-input {
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
}

.light-mode .custom-input {
  color: #101010;
  background-color: #00000005;
  border: 1px solid #00000020;
}

.dark-mode .custom-input {
  color: #fff;
  background-color: #ffffff05;
  border: 1px solid #ffffff10;
}

.custom-input:focus {
  outline: none;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .light-mode .custom-input {
    color: #101010;
    background-color: transparent;
  }

  .dark-mode .custom-input {
    color: #fff;
    background-color: transparent;
  }
}

a {
  color: #117be5;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  opacity: 0.9;
}

a:focus {
  color: #1a74cf;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
input:-webkit-autofill {
  background-color: red;
}

/* Para navegadores basados en Gecko (Firefox) */
input:-moz-autofill {
 background-color: red;
}